:root {
  --lightbg: #D9E1E4;
  --lightbg-green: #d1e4cc;
  --text-color: #2E2851;
  --text-color-darkgreen: #3b6a71;
}

body {
  background-color: var(--lightbg);
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    color: var(--text-color)
}

.App-header {
  margin-bottom: 20vh;
}

.pomodoro-timer-window {
  text-align: center;
  margin: 0 auto;
} 